.homecontainerbg{
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
}

.homeintro{

    background-color: rgb(244, 241, 207);
margin-top: 10px;
    max-width: 800px;
    font-size: 23px;
    word-spacing: 5px;
    padding: 20px;
    border-style: solid;
font-weight: 500;

}

@media screen and (max-width:780px){

    .homecontainerbg{
        display: flex;
        min-height: 130vh;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
    }


}